<%= form_for(link, html: {class: "form-signin"}) do |f| %>
  <h2><%= @title %></h2>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :title, class: "sr-only" %><br />
  <%= f.text_field :title, class: "form-control", placeholder: "Title", required: true, autofocus: true %>
  
  <%= f.label :url, class: "sr-only" %><br />
  <%= f.text_field :url, class: "form-control", placeholder: "URL", required: true %><br>

  <%= f.submit "Create Link", class: "btn btn-lg btn-primary btn-block" %>
  <%= link_to 'Back', links_path %>
<% end %>
